div {
    text-align: center;
}

::ng-deep .mat-ripple:not(:empty) {
    margin: 0 auto 0 auto;
}

.products {
    width: 100%;
    float: left;
}

#productsDiv {
    width: 100%;
    float: left;
}

.searchDiv {
    border: 0;
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
}

.searchDiv input {
    border-radius: 0;
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

.search-button, .back-button {
    position: absolute;
    top: 0px;
    right: 0;
    width: 200px;
    border-radius: 0;
    height: 40px;
    padding: 0;
}

.search-button {
    width: 100px;
    right: 200px;
}

.shoppingCart{
    width: 30%;
}

.body {
    width: 100%;
    margin-top: 0;
    background-color: white;
}

.shoppingCart {
    display: block;
    width: 100%;
}

.shoppingCartDiv {
    position: absolute;
}
