p{
    font-size: 22px;
    font-weight: 800;
    margin: 0;
}
.navbar-dark .navbar-brand {
    color: black;
    font-size: 26px;
    color: white;
}
input.form-control.ng-untouched.ng-pristine.ng-invalid{
    margin: 5px;
}
button.btn{
    margin: 10px;
}

nav{
    height: 60px;
    background-color: black;
}

#navbarNav {
    position: relative;
    display: block !important; 
    text-align: right;
    color: white
}

.nav-link {
    display: inline;
    position: relative;
    float: right;
}